/*Variables Declaration*/
.MenuNav {
    --padding:15px;
    --noPadding: 0;

}

.MenuNav{
    display:flex;
    flex-flow: row wrap;
    box-sizing: border-box;
    width: 100%;
}

.NavToggle {
  width: 44px;
  height: 40px;
  margin-left: auto;
}
.NavTop{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding:var(--padding);
}

.NavBottom {
    border-top: 1px solid black;
    padding: var(--padding);
    width:100%;
}
