.ContactBody {
    grid-column: 2/ -1;
    grid-auto-rows: minmax(200px, 1fr);
    display: flex;
    flex-flow: column wrap;
}

.ContactBody > li {
    padding-bottom: 10px;
}

.ContactBody > li:nth-child(4){
    padding-bottom: 15px;
}