/* Variable Declarations */
:root {
    --gridColumns: repeat(6, 1fr);
    --grid3Columns: repeat(3, 1fr);
    --grid2pxGap: 2px;
    --grid8pxGap: 8px;
    --gridSpanColumns: 1/ -1; 
}


/* 
:root {
    --gridColumns: repeat(6, 1fr);
    --grid3Columns: repeat(3, 1fr);
    --grid2pxGap: 2px;
    --grid8pxGap: 8px;
    --gridSpanColumns: 1/ -1; 
}

.Skills {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: var(--grid2pxGap);
    background-color:red; 
}

.SkillsRow {
    display: grid;
    grid-column: var(--gridSpanColumns);
    grid-template-columns: repeat(2, 1fr);
    grid-gap:20px;
}

.SkillBlock {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    box-sizing: border-box;
    padding: 10px;
}
 
.SkillTitleContainer {
    grid-column: var(--gridSpanColumns);
    display: flex;
}

.SkillTitle{
    align-self: flex-start;
    margin-top: 0;
    margin-bottom:10px;
}

.SkillContent{
    grid-column: var(--gridSpanColumns);
    display: flex;
    justify-content: space-between;
}

.SkillDescription {
    text-align: left;
    margin-left: 8px;
    margin-top: 0;
}

.SkillImgContainer{
    flex: 1;
} 
.SkillFooter > a {
    align-self: flex-start;
    margin-bottom: 8px;
}
.SkillFooter{
    grid-column: var(--gridSpanColumns);
    display: flex;
    flex-direction: column;
}

.SkillActions{
    display: flex;
    grid-template-rows: 20px;
    justify-content: space-between;
    width: 100%;
}

.SkillActions > button {
    flex: 1;
    margin-left: 5px;
    height: 40px;
} 
.SkillActions > button:first-child{
    margin-left: 0;
} */

.Skills {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; 
    padding: 15px;
}

.SkillBlock {
    display: grid;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid gray;
    background-color: #fff;border-radius: 8px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto-fit);
    box-sizing: border-box;
}

.SkillTitleContainer {
    grid-column: 1/-1;
    grid-row: 1/1;
    /* display: flex; */
}

.SkillContent {
    grid-column: 1/ -1;
    grid-row: 2/2;
    display: flex;
    flex-flow: row wrap;
    padding-bottom: 15px;
}

.SkillContent .ImgContainer {
    margin-bottom: 8px;
    width: 100%;
}


.ImgContainer img {
    width: 100%;
    display: block;
}

.SkillContent .SkillDescription{
    margin-bottom: 8px;
}

.SkillContent .btn {
    width: 150px;
}

.SkillFooter {
    grid-column: 1/-1;
    grid-row: 3/3;
}
.SkillActions > .btn {
    margin-left: 8px;
    width: 50px 50px;
}

.SkillActions > .btn:first-child {
    margin-left: 0;
}
