.TextArea {
    width: 100%;
    border: black;
    border-radius: 8px;
    border:1px solid  #eaeaea;
    border-bottom:3px solid #ccc;
    box-sizing: border-box;
    display: block;
    outline: none;
}

label{
    display: block;
    margin-bottom: 10px;
}