.ContactActions {
    display: flex;
    flex-flow: row wrap;
}

.ContactActions  Button {
    margin:0 0 8px;
    width: 100%;
}

.ContactActions Button:last-child{
    margin-bottom: 0;
}

@media (min-width:600px){
    .ContactActions > Button {
        width:auto;
        margin: 0 8px 0 0;
    }
}