.Footer {
    display: flex;
    flex-flow: row wrap;
    padding: 15px;
    font-size: 1em;
}
.FooterRight {
    display: flex;
    flex-flow: row wrap;
}
.FooterLogo{
    width: 62px;
    height: 62px;
    margin-right: 15px;
}
.FooterTimeStamp {
    margin-left: auto;
}