
button {
  font-family: 'Roboto', 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 0.9em;
  /* width:100%; */
  margin:0 0 8px 0;
}

.btn {
    background-color: #eaeaea;
    border: 1px solid #eaeaea;
    border-bottom: 3px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;
    padding: 6px 12px;
    cursor: pointer;
    user-select: none;
  }

  .btn:focus{
    border: 1px solid #ccc;
    outline: none;
  }

 